# Copy this to .env and fill in real values
POSTGRES_DB=gitaWebDb
POSTGRES_DB_USER=gita_web
POSTGRES_DB_PASSWD=your_postgres_password

MONGO_DB=gitaWebDb
MONGO_DB_USER=gita_web
MONGO_DB_PASSWD=your_mongo_password

PORT=80
JWT_KEY=your_jwt_secret_min_32_chars
SERVER_HOST=gita.udea.edu.co


NODE_ENV=production
NEXTAUTH_URL=https://gita.udea.edu.co
