POSTGRES_DB=gitaWebDb
POSTGRES_DB_USER=gita_web
POSTGRES_DB_PASSWD=your_postgres_password
JWT_KEY=your_jwt_secret_min_32_chars
SERVER_HOST=gita.udea.edu.co
NODE_ENV=production
NEXTAUTH_URL=https://gita.udea.edu.co